spring:
  application:
    name: fitness-tracker-api

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate.format_sql: true

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.xml

  servlet:
    multipart:
      max-request-size: 10MB
      max-file-size: 10MB